---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: qq-config
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: ceph-application-compressed
