---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - repositories
  - flux-system
  - cluster-secrets.sops.yaml
  - namespaces_infrastructure
  - namespaces_other
  - 001-infrastructure.yaml
  - 002-infrastructure-extra.yaml
  - 100-virtual-machine-base.yaml
  - 101-virtual-machine-base-extra.yaml
  - 102-virtual-machine.yaml
  - 240-smart-home.yaml
  - apps.yaml
