---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: chinese-sub-finder-config
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 50Gi
  storageClassName: juicefs-application-compressed
