---
apiVersion: apps.gitlab.com/v1beta1
kind: GitLab
metadata:
  name: gitlab
spec:
  chart:
    version: "9.4.3"
    values:
      global:
        time_zone: Asia/Shanghai
        nodeSelector:
          kubernetes.io/arch: amd64
        hosts:
          domain: "${SECRET_DOMAIN}"
          hostSuffix: "gitlab"  # 其他gitlab提供的服务在对外服务时的域名后缀，比如容器镜像服务的是registry-gitlab.example.com
          https: true
          gitlab:
            name: "git.${SECRET_DOMAIN}"  # 指定gitlab本身的web服务域名
          ssh: "ssh-gitlab.${SECRET_DOMAIN}"
        ingress:
          enabled: true
          class: traefik
          configureCertmanager: false
          tls:
            secretName: "${SECRET_DOMAIN/./-}-tls"
        pages:
          enabled: true
        appConfig:
          dependencyProxy:  # 开启CI/CD用的依赖代理功能，可以操作过程中用到的镜像（未来版本貌似会支持各编程语言的包）缓存下来，提高速度
            enabled: true
      minio:
        persistence:
          size: 200Gi
      # 固定 registry 副本数，避免 HPA 频繁扩缩容
      registry:
        hpa:
          minReplicas: 2
          maxReplicas: 2
      installCertmanager: false
      nginx-ingress:
        enabled: false  # 不让gitlab单独部署ingress，直接使用公共的ingress
      prometheus:
        server:
          persistentVolume:
            size: 10Gi
      gitlab:
        gitlab-shell:
          service:
            type: LoadBalancer
            loadBalancerIP: 192.168.170.235
