---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: chinese-sub-finder-config
  namespace: entertainment
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 30Gi
  storageClassName: ceph-block-application
