---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: emby-config
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 40Gi
  storageClassName: juicefs-application-compressed
