---
apiVersion: kubevirt.io/v1
kind: KubeVirt
metadata:
  name: kubevirt
  namespace: kubevirt
spec:
  configuration:
    permittedHostDevices:
      pciHostDevices:
        - pciVendorSelector: "10DE:2684"
          resourceName: "nvidia.com/AD102_GEFORCE_RTX_4090"
          externalResourceProvider: true
        - pciVendorSelector: "10DE:22BA"
          resourceName: "devices.kubevirt.io/NVIDIA_RTX_4090_AUDIO_CONTROLLER"
        - pciVendorSelector: "144D:A808"
          resourceName: "devices.kubevirt.io/SAMSUNG_970_PRO_1TB"
    vmStateStorageClass: "juicefs-application-compressed"
    developerConfiguration:
      featureGates:
        - LiveMigration
        - DataVolumes
        - HostDisk
        - HypervStrictCheck
        - CPUManager
        - Macvtap
        - VMPersistentState
        - GPU
        - DisableMDEVConfiguration
        - HostDevices
        - Sidecar
        - EnableVirtioFsStorageVolumes
    supportContainerResources:
      - type: virtiofs
        resources:
          requests:
            cpu: 100m
            memory: 1Gi
          limits:
            cpu: 100m
            memory: 4Gi
  infra:
    nodePlacement:
      nodeSelector:
        node-role.kubernetes.io/control-plane: ""
  workloads:
    nodePlacement:
      nodeSelector:
        location: "home"
