---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: rfc1918
spec:
  ipWhiteList:
    sourceRange:
      - 10.0.0.0/8
      - 172.16.0.0/12
      - 192.168.0.0/16
      - 10.5.0.0/24
      - 10.0.50.0/24
