---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: monitoring-system
spec:
  interval: 5m
  timeout: 30m
  install:
    remediation:
      retries: 3
  chart:
    spec:
      # renovate: registryUrl=https://prometheus-community.github.io/helm-charts
      chart: kube-prometheus-stack
      version: 72.5.1
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
  values:
    kubeProxy:
      enabled: false

    alertmanager:
      enabled: true
      alertmanagerSpec:
        replicas: 3
        storage:
          volumeClaimTemplate:
            spec:
              accessModes:
                - ReadWriteOnce
              resources:
                requests:
                  storage: 10Gi
              storageClassName: ceph-application-compressed

    grafana:
      enabled: true
      defaultDashboardsTimezone: "Asia/Shanghai"
      adminPassword: "${SECRET_GRAFANA_ADMIN_PASSWORD}"
      ingress:
        enabled: true
        ingressClassName: "traefik"
        annotations:
          traefik.ingress.kubernetes.io/router.middlewares: "kube-system-rfc1918@kubernetescrd"
        hosts:
          - "grafana.${SECRET_DOMAIN}"
        tls:
          - secretName: "${SECRET_DOMAIN/./-}-tls"
      persistence:
        enabled: true
        accessModes:
          - ReadWriteMany
        size: 5Gi
        storageClassName: juicefs-application-compressed
      dashboardProviders:
        dashboardproviders.yaml:
          apiVersion: 1
          providers:
            - name: 'ceph'
              orgId: 1
              folder: ''
              type: file
              disableDeletion: false
              editable: true
              options:
                path: /var/lib/grafana/dashboards/ceph
            - name: 'juicefs'
              orgId: 1
              folder: ''
              type: file
              disableDeletion: false
              editable: true
              options:
                path: /var/lib/grafana/dashboards/juicefs
      dashboards:
        ceph:
          ceph-cluster:
            gnetId: 2842
            revision: 17
            datasource: Prometheus
          ceph-osd:
            gnetId: 5336
            revision: 9
            datasource: Prometheus
          ceph-pools:
            gnetId: 5342
            revision: 9
            datasource: Prometheus
        juicefs:
          juicefs-grafana-template:
            url: https://raw.githubusercontent.com/juicedata/juicefs/main/docs/en/grafana_template.json
          juicefs-grafana-template-k8s:
            url: https://raw.githubusercontent.com/juicedata/juicefs/main/docs/en/grafana_template_k8s.json

    prometheus:
      thanosService:
        enabled: true
      thanosServiceMonitor:
        enabled: true
      prometheusSpec:
        replicas: 2
        # 自动发现所有命名空间中所有的监测配置，而不是仅按照kube-prometheus-stack标准的来
        # 按照kube-prometheus-stack标准的来，会导致丢失一些监测信息，比如ceph的
#        ruleSelectorNilUsesHelmValues: false
        serviceMonitorSelectorNilUsesHelmValues: false
#        podMonitorSelectorNilUsesHelmValues: false
#        probeSelectorNilUsesHelmValues: false
#        scrapeConfigSelectorNilUsesHelmValues: false
        storageSpec:
          volumeClaimTemplate:
            spec:
              accessModes:
                - ReadWriteOnce
              resources:
                requests:
                  storage: 50Gi
              storageClassName: ceph-application-compressed
        additionalScrapeConfigs:
          - job_name: 'juicefs'
            kubernetes_sd_configs:
              - role: pod
            relabel_configs:
              - source_labels: [ __meta_kubernetes_pod_phase ]
                separator: ;
                regex: (Failed|Succeeded)
                replacement: $1
                action: drop
              - source_labels: [ __meta_kubernetes_pod_label_app_kubernetes_io_name, __meta_kubernetes_pod_labelpresent_app_kubernetes_io_name ]
                separator: ;
                regex: (juicefs-mount);true
                replacement: $1
                action: keep
              - source_labels: [ __meta_kubernetes_pod_container_port_name ]
                separator: ;
                regex: metrics  # Mount Pod 监控 API 端口名
                replacement: $1
                action: keep
              - separator: ;
                regex: (.*)
                target_label: endpoint
                replacement: metrics
                action: replace
              - source_labels: [ __address__ ]
                separator: ;
                regex: (.*)
                modulus: 1
                target_label: __tmp_hash
                replacement: $1
                action: hashmod
              - source_labels: [ __tmp_hash ]
                separator: ;
                regex: "0"
                replacement: $1
                action: keep

    thanosRuler:
      enabled: true
      extraSecret:
        name: "thanos-ruler-alertmanager-config"
        data:
          alertmanager-configs.yaml: |
            alertmanagers:
            - static_configs: ["kube-prometheus-stack-alertmanager.monitoring-system:9093"]
              scheme: http
              timeout: 30s
              api_version: v2
      thanosRulerSpec:
        replicas: 2
        storage:
          volumeClaimTemplate:
            spec:
              accessModes:
                - ReadWriteOnce
              resources:
                requests:
                  storage: 50Gi
              storageClassName: ceph-application-compressed
        alertmanagersConfig:
          key: alertmanager-configs.yaml
          name: thanos-ruler-alertmanager-config
        queryEndpoints:
          - "http://kube-prometheus-stack-prometheus.monitoring-system:9090"
