---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
spec:
  maxHistory: 1
  interval: 5m
  timeout: 30m
  install:
    remediation:
      retries: 3
  chart:
    spec:
      # renovate: registryUrl=https://helm.traefik.io/traefik
      chart: traefik
      version: 32.1.1
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system
  values:
    deployment:
      replicas: 3
    experimental:
      plugins:
        plugin-rewritebody:
          moduleName: github.com/traefik/plugin-rewritebody
          version: v0.3.1
        traefik-plugin-rewrite-headers:
          moduleName: github.com/bitrvmpd/traefik-plugin-rewrite-headers
          version: v0.0.1
    additionalArguments:
      - "--serversTransport.insecureSkipVerify=true"
    tolerations:
      - operator: Exists
    nodeSelector:
      kubernetes.io/arch: "amd64"
      kubernetes.io/os: "linux"
    logs:
      general:
        level: ERROR
      access:
        enabled: true
    service:
      enabled: true
      type: LoadBalancer
      annotations:
        kube-vip.io/loadbalancerIPs: 192.168.170.230
        tailscale.com/expose: "true"
      spec:
        externalTrafficPolicy: Local
    ports:
      traefik:
        expose:
          default: true
      web:
        redirectTo:
          port: websecure
        forwardedHeaders:
          trustedIPs:
            - "101.71.100.0/24"
            - "101.71.101.0/24"
            - "101.71.105.0/24"
            - "101.91.91.0/24"
            - "111.20.28.0/24"
            - "111.20.29.0/24"
            - "113.200.123.0/24"
            - "113.201.154.0/24"
            - "113.219.202.0/24"
            - "113.96.246.0/24"
            - "116.162.152.0/24"
            - "117.147.229.0/24"
            - "117.147.230.0/24"
            - "117.147.231.0/24"
            - "121.51.159.0/24"
            - "121.51.180.0/24"
            - "121.51.60.0/24"
            - "122.246.0.0/24"
            - "122.246.30.0/24"
            - "122.246.31.0/24"
            - "123.150.77.0/24"
            - "183.61.174.0/24"
            - "219.144.88.0/24"
            - "219.144.89.0/24"
            - "222.189.172.0/24"
            - "36.158.253.0/24"
      websecure:
        http3:
          enabled: false
        forwardedHeaders:
          trustedIPs:
            - "101.71.100.0/24"
            - "101.71.101.0/24"
            - "101.71.105.0/24"
            - "101.91.91.0/24"
            - "111.20.28.0/24"
            - "111.20.29.0/24"
            - "113.200.123.0/24"
            - "113.201.154.0/24"
            - "113.219.202.0/24"
            - "113.96.246.0/24"
            - "116.162.152.0/24"
            - "117.147.229.0/24"
            - "117.147.230.0/24"
            - "117.147.231.0/24"
            - "121.51.159.0/24"
            - "121.51.180.0/24"
            - "121.51.60.0/24"
            - "122.246.0.0/24"
            - "122.246.30.0/24"
            - "122.246.31.0/24"
            - "123.150.77.0/24"
            - "183.61.174.0/24"
            - "219.144.88.0/24"
            - "219.144.89.0/24"
            - "222.189.172.0/24"
            - "36.158.253.0/24"
