---
apiVersion: kubevirt.io/v1
kind: KubeVirt
metadata:
  name: kubevirt
  namespace: kubevirt
spec:
  configuration:
    developerConfiguration:
      featureGates:
        - LiveMigration
        - DataVolumes
        - HostDisk
        - HypervStrictCheck
        - CPUManager
        - Macvtap
  infra:
    nodePlacement:
      nodeSelector:
        node-role.kubernetes.io/control-plane: ""
  workloads:
    nodePlacement:
      nodeSelector:
        location: "home"
