---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: lidarr-config
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi
  storageClassName: juicefs-application-compressed
