---
name: Lint Shell scripts on Pull Requests

on: # yamllint disable-line rule:truthy
  pull_request:
    paths:
      - "**.sh"

jobs:
  shellcheck:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: Get changes
        uses: dorny/paths-filter@v3
        id: filter
        with:
          list-files: shell
          filters: |
            shell:
              - added|modified: "**.sh"
      - name: Lint files
        if: ${{ steps.filter.outputs.shell == 'true' }}
        uses: reviewdog/action-shellcheck@v1
        with:
          shellcheck_flags: "${{ steps.filter.outputs.shell_files }}"
